.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  overflow: hidden;
}

.transition-group {
  position: relative;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%) rotateZ(45deg);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(-50%) rotateZ(0);
  transition: all 1s ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateX(-50%) rotateZ(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%) rotateZ(-45deg);
  transition: all 1s ease-in;
}